[submodule "3rdparty/psi-cmake"]
	path = 3rdparty/psi-cmake
	url = https://github.com/darkessence87/psi-cmake.git
[submodule "3rdparty/psi-gtests"]
	path = 3rdparty/psi-gtests
	url = https://github.com/darkessence87/psi-gtests.git
