[submodule "3rdparty/psi-cmake"]
	path = 3rdparty/psi-cmake
	url = https://github.com/darkessence87/psi-cmake.git
[submodule "3rdparty/psi-test"]
	path = 3rdparty/psi-test
	url = https://github.com/darkessence87/psi-test.git
